.portfolio img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.portfolio .grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .portfolio .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .container{
    width: 80%;
}
}