.header {
    position: relative;
    height: 12vh;
    line-height: 10vh;
    font-weight: 500;
    box-shadow: 0 0 10px 0 #787171;
    z-index: 1000;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 0.5rem 0;
    font-size: 17px;
    position: relative;
}

.header .icon {
    display: none;
}

.header a {
    padding: 0 1.5rem;
}

.header span:hover,
.header a:hover {
    font-size: 20px;
    font-weight: bold;
    color: rgb(106, 112, 209);
}

.header.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 0 #787171;

}

.header .iconLink,
.header .personLink {
    padding: 0;
}

.header a img {
    height: 30px;
    vertical-align: middle;
    padding: 0;
}


.person {
    display: flex;
}

.header a .person-photo {
    align-self: center;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgba(47, 44, 44, 0.811);
}

.person-name {
    margin-left: 15px;
    align-self: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: white;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 768px) {

    .header,
    .header.active {
        height: 10vh;
    }

    .header .container {
        height: 10vh;
        align-items: center;
        position: relative;
        justify-content: unset;
    }

    .header a {
        padding: 0;
        line-height: 1rem;
    }

    .header a img {
        margin-left: 0.5rem;
    }

    header .link {
        display: none;
    }

    .header .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 1rem;
    }

    .person-name {
        font-weight: bold;
        margin-left: 1vh;
    }

    .menu-button-container {
        display: flex;
        margin-left: 13vh;
    }

    .menu {
        position: absolute;
        top: 0;
        margin: 9vh -1vh;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border-bottom: 1px solid #444;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .menu>li {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0.5em;
        width: 30%;
        background-color: white;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}