.header {
    position: relative;
    height: 12vh;
    line-height: 10vh;
    font-weight: 500;
	box-shadow: 0 0 10px 0 #787171;
    z-index: 1000;
}

.header .container {
    height: 12vh;
    padding: 0.5rem;
    font-size: 17px;
}

.header ul li {
    padding: 0 1.5rem;
}
.header span:hover,
.header ul li a:hover {
    font-size: 20px;
    font-weight: bold;
    color: rgb(106, 112, 209);
}

.header.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
	box-shadow: 0 0 10px 0 #787171;

}

.icon-link {
    height: 30px;
    vertical-align: middle;
}

.person {
    display: flex;
}

.person-photo {
    align-self: center;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgba(47, 44, 44, 0.811);
}

.person-name {
    margin-left: 15px;
}
@media (max-width: 768px) {
    .header,
    .header.active{
        height: 10vh;
    }
    .header .container{
        margin: 0 10px;
        height: 10vh;
    }
    header ul li {
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      line-height: 70px;
    }
    header .link,
    header img {
        display: none;
    }
    .person-name {
        font-weight: bold;
        margin: 0;
    }
}