.navigation__container {
    background-color: var(--nav-color);
    text-transform: uppercase;
	box-shadow: 0 0 10px 0 #787171;
  }
  
  .navbar-userIcon {
    border: 2px solid;
    border-radius: 50%;
    border-color: rgba(47, 44, 44, 0.811);
    margin-left: 1rem;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: var(--font-color) !important;
    font-size: 20px;
    margin-right: 2px;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: var(--font-color-hover) !important;
    font-size: 22px;
  }
  .navbar-light .navbar-brand {
    color: var(--font-color) !important;
    font-size: 20px;
  }
  .navbar-toggler{
    border: none;
  }

  .nav-pills{
    --bs-nav-pills-link-active-bg: #dae6f2;
  }
  .icon-link{
    height: 30px;
    margin-top: 6px;
    margin-right: 5px;
  }